<h1>about page</h1>

<p>This is a project website used to show administrative vs basic user authorization.  Log in as admin@admin.com, password: password, to see administrator rights in action.  If you don't feel like making an account just log in as test@mail.com, password: password, to be a user with more limited rights.  This site will soon be at portfolio quality. A few other features coming will be email sent to users, a checkout cart, more appealing styles.</p>
